.docItemContainer header + *,
.docItemContainer article > *:first-child {
  margin-top: 0rem;
}

.docItemContainer {
  margin-top: -0.75rem;
}

@media (min-width: 997px) {
  .docItemCol {
    max-width: 75% !important;
  }
}
