.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  margin-top: 2rem;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.card-gallery {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  margin: auto;
  cursor: pointer;
}

.cardContainer {
  margin-top: 60px;
  padding: 30px 20px;

}

/* Dark Theme Adjustments */
[data-theme='dark'] .cardContainer {
  background-color: var(--ifm-background-color);
}

/* This selector ensures our styles take precedence over Infima's defaults */
.card .card__header {
  /* Set different padding for top and bottom */
  padding-top: 5rem;      /* More space above the title */
  padding-bottom: 0rem; /* Less space below the title */
}

/* Target the header title specifically */
.card .card__header h3 {
  font-size: 1.5rem;  /* Larger font size */
  margin: 0;          /* Remove default margins to have precise control */
}


.cardDescription p {
  font-size: 14.5px;
  text-align: center;
  color: var(--ifm-color-content);
  margin-top: 0px;
}

.card-link:hover .card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: hover effect for better UX */
}

/* Responsive styles */
@media (max-width: 599px) {
  .intro-visual {
    padding: 0.5em 0;
  }

  .intro-visual h5 {
    font-size: 60px;
    letter-spacing: -1px;
    text-align: center;
    line-height: 120%;
  }

  .extra-padding {
    padding-top: 0em;
  }

  .hero-section {
    background-image: none;
  }

  .intro-text p {
    text-align: center;
    padding: 1em 0;
  }
}

@media (min-width: 768) and (max-width: 992px) {
  .intro-visual {
    padding: 0.2em;
  }

  .cardTitle h3 {
    font-size: 22px;
    line-height: 120%;
  }

  .intro-visual h5 {
    margin-left: 0.5em;
    font-size: 60px;
  }

  .extra-padding {
    padding-top: 0.25em;
  }

  .intro-text p {
    padding: 1.25em 1em;
    text-align: center;
  }
}

/* Hide image on small screens */
@media (min-width: 992px) {
  .intro-visual {
    padding: 0.2em;
  }

  .intro-text h5 {
    margin-left: 1em;
    font-size: 72px;
  }

  .cardTitle h3 {
    font-size: 22px;
    line-height: 120%;
  }

  .extra-padding {
    padding-top: 1em;
  }

  .intro-text p {
    margin: 2em 1em 2em 1em;
    font-size: 24px;
    text-align: center;
    padding: 0.5em 0;
  }

  .intro-visual {
    padding: 0;
    margin: 0;
  }
}