.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
 height: 200px;
  width: 200px; 

}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
 }

 div.center {
  display: flex;
  justify-content: center;
 }

 .my-card {
  max-width: 360px;
 }


