.pagination {
  align-items: center;
}

.pagination li {

  font-style: normal;
  font-size: 14px;
  margin-bottom: 14px;
}

ul.no-style {
  list-style-type: none;
  margin-left: 20px;
}

.indent {
  margin-left: 10px;
}