/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: left;
  position: relative;
  overflow: hidden;
  background-color: #F1F2F4;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 20px 0px;
  }
}


.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
}


