.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
 
}

.featureSvg {
  height: 250px;
  width: auto; 
  padding: 20px 0px;
  align-items: center;
}

.card {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;

}


.features-card {
  border: 1px solid var(--ifm-color-background);
  border-radius: 20px;
  

}




.features-content {
  margin: 20px;
}



html[data-theme=dark] .button {
  background-color: var(--ifm-color-background);
}


p {
  text-align: match-parent;

}

