/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url(https://fonts.googleapis.com/css2?family=NTR&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap);

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 500;
  font-size: large;
}

td {
  vertical-align: top;
}



h1 {
  margin-top: 20px;
  text-align: left;
  font-family: 'Oswald';
  font-weight: 300;
}

h2, h3, h4 {
  font-weight: 'NTR';
  font-weight: 600;
}


.test-gh {
  margin-right: 14px;
  padding: 0;
  margin-top: 6px;
}


.header-github-link:hover {
  opacity: 0.6;
}

.header-github-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

[data-theme='dark'] .header-github-link::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}


.linkedin-logo:hover {
  opacity: 0.6;
}

.linkedin-logo::before {
  content: '';
  width: 20px;
  height: 20px;
  display: flex;
  background: no-repeat url("../../static/img/linkedin-logo-dark.svg");
}



.screen-reader-only {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}


[data-theme='light'] img[src$='#gh-dark-mode-only'],
[data-theme='dark'] img[src$='#gh-light-mode-only'] {
  display: none;
}





/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #253368;
  --ifm-color-primary-dark: #212e5e;
  --ifm-color-primary-darker: #1f2b58;
  --ifm-color-primary-darkest: #1a2449;
  --ifm-color-primary-light: #293872;
  --ifm-color-primary-lighter: #2b3b78;
  --ifm-color-primary-lightest: #304287;
  --ifm-color-secondary: #faad14;
  --ifm-color-secondary-dark: #eea005;
  --ifm-color-secondary-darker: #e19705;
  --ifm-color-secondary-darkest: #b97c04;
  --ifm-color-secondary-light: #fbb62e;
  --ifm-color-secondary-lighter: #fbbb3c;
  --ifm-color-secondary-lightest: #fcc963;
  --ifm-color-background: #CDCDCD;
  --ifm-color-background-dark: #999999;
  --ifm-color-background-darker: #909090;
  --ifm-color-background-darkest: #aaaaaa;
  --ifm-color-background-light: #bbbbbb;
  --ifm-color-background-lighter: #c3c3c3;
  --ifm-color-background-lightest: #dddddd;
  --ifm-code-font-size: 95%;

}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}



/* blue dark theme*/
html[data-theme="dark"]:root {
  --ifm-background-color: #6b7fcb;
  --ifm-navbar-background-color: #2b3136;
  --ifm-navbar-link-color: white;
  --ifm-navbar-link-hover-color: var(--ifm-color-secondary-light);
  --ifm-font-color-base: #f5f6f7;
  --ifm-link-color: var(--ifm-color-secondary-light);
} 





.navbar {
  background-color: var(--ifm-color-primary);
  height: 64px;
}

.footer {
  background-color: var(--ifm-color-primary);
  padding: 40px 0px;
  text-align: center;
}

.footer a {
  color: white;
}

.footer a:hover {
  color: white;
}



.navbar, .footer a:link {
  color: white;
}

.navbar svg {
  height: auto;
}

.navbar a:link {
  color: white;
}

.navbar a:hover {
  font-weight: 700;
  color: var(--ifm-color-secondary);
}




a:hover {

  font-weight: 700;
 text-decoration: none;
 color: var(--ifm-color-secondary-darkest);
}

[data-theme='dark'] .markdown a {
  color: var(--ifm-color-secondary-lightest);
}


.markdown a:link {

font-weight: 700;

}

.subtask {
  list-style-type: lower-alpha;
  margin-left: -15px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.quote {
  font-size: 16pt;
  margin: 30px 20px;
  padding: 20px;
  border: 2px solid var(--ifm-color-background-lightest);

  border-radius: 10px;
  text-align: center;
}

.markdown img { 
  border: 1px solid #ccc; 
  border-radius:5px;
  max-width: 50%;
  height: auto;
  margin-left: 3px;
}

.markdown>table th, td {
  margin: 6px;
  text-align: left;
}

.featureSvg {
  height: 250px;
  width: auto; 
  padding: 20px 0px;
  align-items: center;
}

@media screen and (max-width: 966px) {
  .currentProject {
    display:flexbox;
 }
 .currentProject {
    padding: 20px;
  }
  .footer {
    padding: 20px 0px;
    text-align: center;
  }

  h1 {
    font-size: 42px;
  }
}


@media (orientation:portrait) {
  .featureSvg {
     display: inline; /* visibility: none; */
  }
}
@media (orientation:landscape) and (max-width: 996px) {
  .featureSvg {
     display: inline; /* visibility: none; */
  }
  .cardWidth {
    width: '100%';
  }

}

/* Tooltips */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
	position: relative;
	/* z-index: 2; */
	cursor: pointer;
  border-bottom: 1px dashed var(--ifm-color-primary);
  display: inline;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
	position: absolute;
  z-index: 2;
	top: 115%;
	left: 50%;
	margin-bottom: 5px;
	margin-left: -80px;
	padding: 15px;
	width: 500px;
	-webkit-border-radius: 6px;
	-moz-border-radius:    6px;
	border-radius:         6px;
	background-color: #000;
	background-color: hsla(0, 0%, 10%, 0.9);
	color: #fff;
	content: attr(data-tooltip);
	text-align: left;
	font-size: 14px;
	line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
	position: absolute;
  z-index: 2;  
	top: 115%;
	left: 50%;
	margin-left: -5px;
	margin-top: -5px;
	width: 0;
	border-bottom: 5px solid #000;
	border-bottom: 5px solid hsla(0, 0%, 10%, 0.9);
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	content: " ";
	font-size: 0;
	line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
	visibility: visible;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}