:root {
  --neutral-neutral-white-value: #ffffff;
  --neutral-neutral-white-type: color;
  --neutral-neutral-05-value: #f4f4f4;
  --neutral-neutral-05-type: color;
  --neutral-neutral-10-value: #ebebeb;
  --neutral-neutral-10-type: color;
  --neutral-neutral-20-value: #d6d6d6;
  --neutral-neutral-20-type: color;
  --neutral-neutral-50-value: #999999;
  --neutral-neutral-50-type: color;
  --neutral-neutral-60-value: #858585;
  --neutral-neutral-60-type: color;
  --neutral-neutral-80-value: #5c5c5c;
  --neutral-neutral-80-type: color;
  --neutral-neutral-100-value: #333333;
  --neutral-neutral-100-type: color;
  --brand-action-blue-10-value: #e6ebff;
  --brand-action-blue-10-type: color;
  --brand-action-blue-20-value: #ccd6ff;
  --brand-action-blue-20-type: color;
  --brand-action-blue-50-value: #8099ff;
  --brand-action-blue-50-type: color;
  --brand-action-blue-100-value: #0033ff;
  --brand-action-blue-100-type: color;
  --brand-action-blue-140-value: #001f99;
  --brand-action-blue-140-type: color;
  --brand-action-blue-160-value: #001466;
  --brand-action-blue-160-type: color;
  --brand-navy-100-value: #110081;
  --brand-navy-100-type: color;
  --brand-navy-140-value: #0a004d;
  --brand-navy-140-type: color;
  --brand-navy-160-value: #070034;
  --brand-navy-160-type: color;
  --utility-green-20-value: #dae6d1;
  --utility-green-20-type: color;
  --utility-green-100-value: #488319;
  --utility-green-100-type: color;
  --utility-red-20-value: #F1CCCC;
  --utility-red-20-type: color;
  --utility-red-100-value: #BA0000;
  --utility-red-100-type: color;
  --utility-yellow-20-value: #fff5d6;
  --utility-yellow-20-type: color;
  --utility--yellow-100-value: #ffcd34;
  --utility--yellow-100-type: color;
  --accent-hypermint-value: #3effc0;
  --accent-hypermint-type: color;
  --accent-tempermint-value: #035c67;
  --accent-tempermint-type: color;
  --accent-leaf-green-value: #03cc54;
  --accent-leaf-green-type: color;
  --spacing-spacing-8-value: 8px;
  --spacing-spacing-8-type: spacing;
  --spacing-spacing-16-value: 16px;
  --spacing-spacing-16-type: spacing;
  --spacing-spacing-24-value: 24px;
  --spacing-spacing-24-type: spacing;
  --spacing-spacing-32-value: 32px;
  --spacing-spacing-32-type: spacing;
  --spacing-spacing-40-value: 40px;
  --spacing-spacing-40-type: spacing;
  --spacing-spacing-48-value: 48px;
  --spacing-spacing-48-type: spacing;
  --spacing-spacing-64-value: 64px;
  --spacing-spacing-64-type: spacing;
  --spacing-spacing-80-value: 80px;
  --spacing-spacing-80-type: spacing;
  --spacing-spacing-96-value: 96px;
  --spacing-spacing-96-type: spacing;
  --spacing-spacing-120-value: 120px;
  --spacing-spacing-120-type: spacing;
  --border-radius-border-radius-4-value: 4px;
  --border-radius-border-radius-4-type: borderRadius;
  --border-radius-border-radius-4-description: Used for small utility components such as Checkboxes and Badges;
  --border-radius-border-radius-8-value: 8px;
  --border-radius-border-radius-8-type: borderRadius;
  --border-radius-border-radius-8-description: Used for larger components such as Field, Popover, Alerts, and Video Player;
  --border-radius-border-radius-30-value: 30px;
  --border-radius-border-radius-30-type: borderRadius;
  --border-radius-border-radius-30-description: Used for Card, Promos, and any content blocks needing a background;
  --border-radius-border-radius-900-value: 900px;
  --border-radius-border-radius-900-type: borderRadius;
  --border-radius-border-radius-900-description: Used for Buttons and Radio Buttons;
  --border-width-border-width-1-value: 1px;
  --border-width-border-width-1-type: borderWidth;
  --border-width-border-width-1-description: Used for Fields, Popovers, Radio Buttons, and Checkboxes;
  --border-width-border-width-2-value: 2px;
  --border-width-border-width-2-type: borderWidth;
  --border-width-border-width-2-description: Used for Card borders, Buttons, and Tabs;
  --border-width-border-width-none-value: 0px;
  --border-width-border-width-none-type: borderWidth;
  --typography-font-family-name: font-family;
  --typography-font-family-value: Lato, sans-serif;
  --typography-font-family-description: Primary font family for the application.;
  --typography-h1-value-font-family: Lato;
  --typography-h1-value-font-size: 96px;
  --typography-h1-value-font-weight: 400;
  --typography-h1-value-letter-spacing: -1.5px;
  --typography-h1-value-line-height: 116.7%;
  --typography-h1-value-text-transform: none;
  --typography-h1-value-text-decoration: none;
  --typography-h1-type: typography;
  --typography-h2-value-font-family: Lato;
  --typography-h2-value-font-size: 60px;
  --typography-h2-value-font-weight: 400;
  --typography-h2-value-letter-spacing: -0.5px;
  --typography-h2-value-line-height: 120%;
  --typography-h2-value-text-transform: none;
  --typography-h2-value-text-decoration: none;
  --typography-h2-type: typography;
  --typography-h3-value-font-family: Lato;
  --typography-h3-value-font-size: 48px;
  --typography-h3-value-font-weight: 400;
  --typography-h3-value-letter-spacing: 0px;
  --typography-h3-value-line-height: 116.7%;
  --typography-h3-value-text-transform: none;
  --typography-h3-value-text-decoration: none;
  --typography-h3-type: typography;
  --typography-h4-value-font-family: Lato;
  --typography-h4-value-font-size: 34px;
  --typography-h4-value-font-weight: 400;
  --typography-h4-value-letter-spacing: 0.25px;
  --typography-h4-value-line-height: 123.5%;
  --typography-h4-value-text-transform: none;
  --typography-h4-value-text-decoration: none;
  --typography-h4-type: typography;
  --typography-h5-value-font-family: Lato;
  --typography-h5-value-font-size: 24px;
  --typography-h5-value-font-weight: 400;
  --typography-h5-value-letter-spacing: 0px;
  --typography-h5-value-line-height: 133.4%;
  --typography-h5-value-text-transform: none;
  --typography-h5-value-text-decoration: none;
  --typography-h5-type: typography;
  --typography-h6-value-font-family: Lato;
  --typography-h6-value-font-size: 20px;
  --typography-h6-value-font-weight: 400;
  --typography-h6-value-letter-spacing: 0.15px;
  --typography-h6-value-line-height: 160%;
  --typography-h6-value-text-transform: none;
  --typography-h6-value-text-decoration: none;
  --typography-h6-type: typography;
  --typography-body1-value-font-family: Lato;
  --typography-body1-value-font-size: 16px;
  --typography-body1-value-font-weight: 400;
  --typography-body1-value-letter-spacing: 0.15px;
  --typography-body1-value-line-height: 150%;
  --typography-body1-value-text-transform: none;
  --typography-body1-value-text-decoration: none;
  --typography-body1-type: typography;
  --typography-body2-value-font-family: Lato;
  --typography-body2-value-font-size: 14px;
  --typography-body2-value-font-weight: 400;
  --typography-body2-value-letter-spacing: 0.17px;
  --typography-body2-value-line-height: 143%;
  --typography-body2-value-text-transform: none;
  --typography-body2-value-text-decoration: none;
  --typography-body2-type: typography;
  --typography-subtitle1-value-font-family: Lato;
  --typography-subtitle1-value-font-size: 16px;
  --typography-subtitle1-value-font-weight: 400;
  --typography-subtitle1-value-letter-spacing: 0.15px;
  --typography-subtitle1-value-line-height: 175%;
  --typography-subtitle1-value-text-transform: none;
  --typography-subtitle1-value-text-decoration: none;
  --typography-subtitle1-type: typography;
  --typography-subtitle2-value-font-family: Lato;
  --typography-subtitle2-value-font-size: 14px;
  --typography-subtitle2-value-font-weight: 400;
  --typography-subtitle2-value-letter-spacing: 0.1px;
  --typography-subtitle2-value-line-height: 157%;
  --typography-subtitle2-value-text-transform: none;
  --typography-subtitle2-value-text-decoration: none;
  --typography-subtitle2-type: typography;
  --typography-overline-value-font-family: Lato;
  --typography-overline-value-font-size: 12px;
  --typography-overline-value-font-weight: 400;
  --typography-overline-value-letter-spacing: 1px;
  --typography-overline-value-line-height: 266%;
  --typography-overline-value-text-transform: uppercase;
  --typography-overline-value-text-decoration: none;
  --typography-overline-type: typography;
  --typography-caption-value-font-family: Lato;
  --typography-caption-value-font-size: 12px;
  --typography-caption-value-font-weight: 400;
  --typography-caption-value-letter-spacing: 0.4px;
  --typography-caption-value-line-height: 166%;
  --typography-caption-value-text-transform: none;
  --typography-caption-value-text-decoration: none;
  --typography-caption-type: typography;
  --alert-title-value-font-family: Lato;
  --alert-title-value-font-size: 16px;
  --alert-title-value-font-weight: 400;
  --alert-title-value-letter-spacing: 0.15px;
  --alert-title-value-line-height: 150%;
  --alert-title-value-text-transform: none;
  --alert-title-value-text-decoration: none;
  --alert-title-type: typography;
  --alert-description-value-font-family: Lato;
  --alert-description-value-font-size: 14px;
  --alert-description-value-font-weight: 400;
  --alert-description-value-letter-spacing: 0.15px;
  --alert-description-value-line-height: 143%;
  --alert-description-value-text-transform: none;
  --alert-description-value-text-decoration: none;
  --alert-description-type: typography;
  --avatar-initials-lg-value-font-family: Lato;
  --avatar-initials-lg-value-font-size: 20px;
  --avatar-initials-lg-value-font-weight: 400;
  --avatar-initials-lg-value-letter-spacing: 0.14px;
  --avatar-initials-lg-value-line-height: 20px;
  --avatar-initials-lg-value-text-transform: none;
  --avatar-initials-lg-value-text-decoration: none;
  --avatar-initials-lg-type: typography;
  --avatar-initials-sm-value-font-family: Lato;
  --avatar-initials-sm-value-font-size: 10px;
  --avatar-initials-sm-value-font-weight: 400;
  --avatar-initials-sm-value-letter-spacing: 0px;
  --avatar-initials-sm-value-line-height: 10px;
  --avatar-initials-sm-value-text-transform: none;
  --avatar-initials-sm-value-text-decoration: none;
  --avatar-initials-sm-type: typography;
  --avatar-initials-md-value-font-family: Lato;
  --avatar-initials-md-value-font-size: 12px;
  --avatar-initials-md-value-font-weight: 400;
  --avatar-initials-md-value-letter-spacing: 0px;
  --avatar-initials-md-value-line-height: 12px;
  --avatar-initials-md-value-text-transform: none;
  --avatar-initials-md-value-text-decoration: none;
  --avatar-initials-md-type: typography;
  --badge-label-value-font-family: Lato;
  --badge-label-value-font-size: 12px;
  --badge-label-value-font-weight: 400;
  --badge-label-value-letter-spacing: 0.14px;
  --badge-label-value-line-height: 20px;
  --badge-label-value-text-transform: none;
  --badge-label-value-text-decoration: none;
  --badge-label-type: typography;
  --bottom-navigation-active-label-value-font-family: Lato;
  --bottom-navigation-active-label-value-font-size: 14px;
  --bottom-navigation-active-label-value-font-weight: 400;
  --bottom-navigation-active-label-value-letter-spacing: 0.4px;
  --bottom-navigation-active-label-value-line-height: 166%;
  --bottom-navigation-active-label-value-text-transform: none;
  --bottom-navigation-active-label-value-text-decoration: none;
  --bottom-navigation-active-label-type: typography;
  --button-large-value-font-family: Lato;
  --button-large-value-font-size: 15px;
  --button-large-value-font-weight: 400;
  --button-large-value-letter-spacing: 0.46px;
  --button-large-value-line-height: 26px;
  --button-large-value-text-transform: uppercase;
  --button-large-value-text-decoration: none;
  --button-large-type: typography;
  --button-medium-value-font-family: Lato;
  --button-medium-value-font-size: 14px;
  --button-medium-value-font-weight: 400;
  --button-medium-value-letter-spacing: 0.4px;
  --button-medium-value-line-height: 24px;
  --button-medium-value-text-transform: uppercase;
  --button-medium-value-text-decoration: none;
  --button-medium-type: typography;
  --button-small-value-font-family: Lato;
  --button-small-value-font-size: 13px;
  --button-small-value-font-weight: 400;
  --button-small-value-letter-spacing: 0.46px;
  --button-small-value-line-height: 22px;
  --button-small-value-text-transform: uppercase;
  --button-small-value-text-decoration: none;
  --button-small-type: typography;
  --chip-label-value-font-family: Lato;
  --chip-label-value-font-size: 13px;
  --chip-label-value-font-weight: 400;
  --chip-label-value-letter-spacing: 0.16px;
  --chip-label-value-line-height: 18px;
  --chip-label-value-text-transform: none;
  --chip-label-value-text-decoration: none;
  --chip-label-type: typography;
  --date-picker-current-month-value-font-family: Lato;
  --date-picker-current-month-value-font-size: 16px;
  --date-picker-current-month-value-font-weight: 400;
  --date-picker-current-month-value-letter-spacing: 0.15px;
  --date-picker-current-month-value-line-height: 150%;
  --date-picker-current-month-value-text-transform: none;
  --date-picker-current-month-value-text-decoration: none;
  --date-picker-current-month-type: typography;
  --input-label-value-font-family: Lato;
  --input-label-value-font-size: 12px;
  --input-label-value-font-weight: 400;
  --input-label-value-letter-spacing: 0.15px;
  --input-label-value-line-height: 12px;
  --input-label-value-text-transform: none;
  --input-label-value-text-decoration: none;
  --input-label-type: typography;
  --input-value-value-font-family: Lato;
  --input-value-value-font-size: 16px;
  --input-value-value-font-weight: 400;
  --input-value-value-letter-spacing: 0.15px;
  --input-value-value-line-height: 24px;
  --input-value-value-text-transform: none;
  --input-value-value-text-decoration: none;
  --input-value-type: typography;
  --input-helper-value-font-family: Lato;
  --input-helper-value-font-size: 12px;
  --input-helper-value-font-weight: 400;
  --input-helper-value-letter-spacing: 0.4px;
  --input-helper-value-line-height: 166%;
  --input-helper-value-text-transform: none;
  --input-helper-value-text-decoration: none;
  --input-helper-type: typography;
  --list-subheader-value-font-family: Lato;
  --list-subheader-value-font-size: 14px;
  --list-subheader-value-font-weight: 400;
  --list-subheader-value-letter-spacing: 0.1px;
  --list-subheader-value-line-height: 48px;
  --list-subheader-value-text-transform: none;
  --list-subheader-value-text-decoration: none;
  --list-subheader-type: typography;
  --menu-item-default-value-font-family: Lato;
  --menu-item-default-value-font-size: 16px;
  --menu-item-default-value-font-weight: 400;
  --menu-item-default-value-letter-spacing: 0.15px;
  --menu-item-default-value-line-height: 150%;
  --menu-item-default-value-text-transform: none;
  --menu-item-default-value-text-decoration: none;
  --menu-item-default-type: typography;
  --menu-item-dense-value-font-family: Lato;
  --menu-item-dense-value-font-size: 14px;
  --menu-item-dense-value-font-weight: 400;
  --menu-item-dense-value-letter-spacing: 0.17px;
  --menu-item-dense-value-line-height: 24px;
  --menu-item-dense-value-text-transform: none;
  --menu-item-dense-value-text-decoration: none;
  --menu-item-dense-type: typography;
  --table-header-value-font-family: Lato;
  --table-header-value-font-size: 14px;
  --table-header-value-font-weight: 400;
  --table-header-value-letter-spacing: 0.17px;
  --table-header-value-line-height: 24px;
  --table-header-value-text-transform: none;
  --table-header-value-text-decoration: none;
  --table-header-type: typography;
  --tooltip-label-value-font-family: Lato;
  --tooltip-label-value-font-size: 10px;
  --tooltip-label-value-font-weight: 400;
  --tooltip-label-value-letter-spacing: 0px;
  --tooltip-label-value-line-height: 14px;
  --tooltip-label-value-text-transform: none;
  --tooltip-label-value-text-decoration: none;
  --tooltip-label-type: typography;
  --data-grid-aggregation-column-header-label-value-font-family: Lato;
  --data-grid-aggregation-column-header-label-value-font-size: 12px;
  --data-grid-aggregation-column-header-label-value-font-weight: 400;
  --data-grid-aggregation-column-header-label-value-letter-spacing: 0.15px;
  --data-grid-aggregation-column-header-label-value-line-height: 12px;
  --data-grid-aggregation-column-header-label-value-text-transform: uppercase;
  --data-grid-aggregation-column-header-label-value-text-decoration: none;
  --data-grid-aggregation-column-header-label-type: typography;
  --_library-heading-value-font-family: Lato;
  --_library-heading-value-font-size: 64px;
  --_library-heading-value-font-weight: 400;
  --_library-heading-value-letter-spacing: -1.5px;
  --_library-heading-value-line-height: 116.7%;
  --_library-heading-value-text-transform: none;
  --_library-heading-value-text-decoration: none;
  --_library-heading-type: typography;
}
